    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% assign social_title = page.title | default: site.name %}
    {% assign social_description = page.description | default: page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 200 %}
    {% assign social_url = page.url | absolute_url %}
    {% assign social_image = page.image | default: site.avatar %}

    <meta name="description" content="{{ social_description | escape }}" />
    <meta name="author" content="{{ site.name }}" />
    <link rel="canonical" href="{{ social_url }}" />

    <meta property="og:title" content="{{ social_title | escape }}" />
    <meta property="og:description" content="{{ social_description | escape }}" />
    <meta property="og:url" content="{{ social_url }}" />
    <meta property="og:site_name" content="{{ site.name | escape }}" />
    <meta property="og:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ social_image }}{% endif %}" />
    <meta property="og:image:alt" content="{{ page.image_alt | default: social_title | escape }}" />
    {% if page.layout == "post" %}
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    {% else %}
    <meta property="og:type" content="website" />
    {% endif %}

    <meta name="twitter:card" content="{% if page.image %}summary_large_image{% else %}summary{% endif %}" />
    <meta name="twitter:title" content="{{ social_title | escape }}" />
    <meta name="twitter:description" content="{{ social_description | escape }}" />
    <meta name="twitter:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ social_image }}{% endif %}" />
    <meta name="twitter:image:alt" content="{{ page.image_alt | default: social_title | escape }}" />
    {% if site.x_username %}
    <meta name="twitter:site" content="@{{ site.x_username }}" />
    <meta name="twitter:creator" content="@{{ site.x_username }}" />
    {% endif %}
