---
layout: page
---

{% assign year_books = site.data.reading_books | where: "year", page.year | sort: "finished_on" | reverse %}

{% assign reading_years = site.data.reading_books | map: "year" | uniq %}
{% assign older_year = page.year | plus: -1 | append: "" %}
{% assign newer_year = page.year | plus: 1 | append: "" %}

<p><a href="{{ site.baseurl }}/reading/">back to Reading</a></p>

<nav class="year-nav">
  {% if reading_years contains newer_year %}
    <a href="{{ site.baseurl }}/reading/{{ newer_year }}/">&larr; {{ newer_year }}</a>
  {% else %}
    <span></span>
  {% endif %}
  <span class="year-nav-current">{{ page.year }}</span>
  {% if reading_years contains older_year %}
    <a href="{{ site.baseurl }}/reading/{{ older_year }}/">{{ older_year }} &rarr;</a>
  {% else %}
    <span></span>
  {% endif %}
</nav>

<ul class="book-list">
  {% for book in year_books %}
    <li>
      <div class="book-title">{{ book.title }}</div>
      <div class="book-meta">{{ book.author }} &middot; {{ book.finished_on | date: "%B %-d, %Y" }}</div>
    </li>
  {% endfor %}
</ul>

<p>Total books this year: {{ year_books | size }}</p>
